
#alert {
  clear: both;
  display: block;
  width: 80%;
  margin: 1em auto;
  padding: 1em 3em 1em 1em;
  border: 1px solid @input-border-color;
  border-radius: 4px;
  font-size: 90%;
  color: @header-color;
  background: @header-background;
  position: relative;

  #msg {
    display: block;
    line-height: 1em;
    min-height: 1em;
  }

  #close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    display: inline-block;
    padding-left: 1em;
  }
}
