
@import "variables";

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: visible;
  text-align: left;
}

h1 {
  font-family: @header-font-family;
  font-size: @base-font-size * 1.3;
  color: @header-color;
  background: @header-background;
  font-weight: bold;
  margin: 0.5em 0;
}

h2 {
  font-family: @header-font-family;
  font-size: @base-font-size * 1.2;
  color: @header-color;
  background: @header-background;
  font-weight: bold;
  margin: 0.5em 0;
}

h3 {
  font-family: @header-font-family;
  font-size: @base-font-size * 1.1;
  color: @header-color;
  background: @header-background;
  font-weight: bold;
  margin: 0.5em 0;
}

h4 {
  font-family: @header-font-family;
  font-size: @base-font-size;
  color: @header-color;
  background: @header-background;
  font-weight: bold;
  margin: 0.5em 0;
}

h1,h2,h3,h4 {
  a {
    color: @header-color;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}

.nowrap {
  white-space:nowrap;
}

#header {
  margin: 0;
}

#content {
  width: auto;
  height: auto;
  padding-bottom: 40px;
  margin: 1em;
  font-size: 95%;
}

.paginate {
  .turn, .range {
    display: inline;
  }
  .pageof, .count {
    display: inline;
    padding: 0 2em;
    font-size: 90%;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }
}

.host {
  float: left;
  margin: 2px;
  background: lightgreen;
  border: 1px dotted lightgreen;
  a {
    width: 10em;
    padding: 0 1em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  &.recent {
    background: #C0A6F1;
  }
  &.lost {
    background: #ffc200;
  }
}

p {
  font-family: @p-font-family;
}

.help {
  font-size: 80%;
  color: gray; }

.clear {
  clear: both; }

.hide {
  display: none !important; }

#footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  p {
    padding-left: 2em;
    font-family: @footer-font-family;
    font-size: 75%;
    color: @footer-color;
  }
  a {
    color: @footer-color;
    text-decoration: none;
  }
}

.copyleft {
  display: inline-block;
  .rotate(180deg);
}
