
.btn {
  margin: 2px;
  .button-background(@button-background-color);
  border-color: @button-border-color;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: @header-color;
  cursor: pointer;
  display: inline-block;
  font-size: @base-font-size;
  line-height: @base-line-height;
  margin-bottom: 0;
  padding: 4px 12px 4px 12px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
}

.btn-danger {
  .button-background(@button-background-color-danger, white);
}

.btn-success {
  .button-background(@button-background-color-success, white);
}

.btn-warning {
  .button-background(@button-background-color-warning, white);
}

.btn-info {
  .button-background(@button-background-color-info, white);
}

.button-background(@bg-color, @text-color: @link-color, @textShadow: 0 -1px 0 rgba(0,0,0,.25)) {
  background-color: @bg-color;
  background-image: linear-gradient(to bottom, lighten(@bg-color, 15%), @bg-color);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: @text-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: darken(@text-color,15%);
    background-color: @bg-color;
  }
}

.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group > .btn + .btn {
  margin-left: -3px;
}
