//
//
//

@import "variables";

input,
textarea {
  border: 1px solid @input-border-color;
  &:focus { outline: none; }
}

.form {
  fieldset, .fieldset {
    display: block;
    width: 800px;
    margin-bottom: 0.5em;
    max-width: 45em;
    vertical-align: top;
    border: none;
    padding: 1em;
  }

  // sam as h2
  legend {
    display: block;
    font-family: @header-font-family;
    font-size: @base-font-size * 1.2;
    font-weight: bold;
    color: @header-color;
    background: @header-background;
    margin: 0.5em 0;
  }

  h2 {
    display: inline-block;
  }

  .field {
    display: table;
    clear: both;
    margin-bottom: 0.3em
  }

  label, .label {
    display: inline-block;
    width: 12em;
    line-height: 2em;
    height: 2em;
    padding-left: 2em;
    text-align: left;
    font-weight: bold;
    color: @header-color;
    vertical-align: middle;
  }

  input, textarea {
    display: inline-block;
    width: 32em;
    height: 2em;
    font-size: @base-font-size;
    border: 1px solid @input-border-color;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  input[type=checkbox] {
    width: auto;
    height: 1.2em;
    color: @header-color;
    border: 1px solid @input-border-color;
    font-size: @base-font-size;
  }
}

.login-form, .passwd-form {
  .singin-box, .passwd-box {
    width: 400px;
    border: 1px solid @input-border-color;
    background: #F1F1F1;
    margin: 1em auto;
    padding: 2em;
  }

  .field {
    margin-bottom: 1em;
  }

  label, .label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: @header-color;
  }

  input[type="text"], input[type="password"] {
    display: block;
    font-size: 16px;
    height: 30px;
    width: 96%;
    padding-left: 0.5em;
    padding-right: 0.5em;

  }

}

.table-filter-form {
  font-size: @base-font-size;
  line-height: @base-line-height;
  padding-left: 0em;

  label {
    display: inline-block;
    font-size: @base-font-size;
    height: @base-line-height;
    color: @header-color;
    background: @button-background-color;
    padding: 4px 0.5em;
    margin: 0;
    border: 1px solid @input-border-color;
    border-radius: 4px 0 0 4px;
    border-image: none;
    vertical-align: middle;
  }

  input {
    font-size: @base-font-size;
    height: @base-line-height;
    padding: 4px;
    margin: 0 0 0 -1px;
    border: 1px solid @input-border-color;
    border-radius: 0 4px 4px 0;
    border-image: none;
    vertical-align: middle;
  }
}

.filter-form {
  &.hide {
    display: none; }
  input {
    font-size: @base-font-size;
    height: @base-line-height;
    padding: 4px;
    min-width: 10em;
    width: 100%;
  }
}
