/* Menu 

Markup:

  ul.menu
    li
      a
    li.dropdown
      a
      ul.dropdown-menu
        li
          a
            icon
            span

*/

@import "variables";

.bar {
  display: table;
  width: 100%;
  background: @bar-background;
  background-image: url('/img/bg5.png');
}

.menu {
  display: inline;
  float: left;
  padding-left: 3em;
  margin: 10px 0;
  font-family: @header-font-family;
  list-style-type: none;
  vertical-align: middle;
  li {
    display: inline;
    padding-right: 0.5em;
    padding-left: 0.5em;
    a {
      color: @bar-color;
      text-decoration: none;
      span {
        padding-left: 0.5em;
      }
    }
    a:hover {
      color: white;
    }
  }
}

.title {
  font-size: 1.3 * @base-font-size;
  font-weight: bold;
  margin-right: 1em;
}

.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 1em;

  & .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: @dropdown-background-color;
  border: 1px solid @dropdown-border;
 .border-radius(6px);
 .box-shadow(0 5px 10px rgba(0,0,0,.2));

  li {
    display: block;
    line-height: @base-line-height;
    padding: 0;
    a {
      display: block;
      padding: 3px 4px;
      text-decoration: none;
      color: @dropdown-link-color;
      white-space: nowrap;
      span {
        padding-left: 0.5em;
      }
    }
  }
}

.open {
    & >.dropdown-menu {
    display: block;
  }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: @dropdown-link-color-hover;
  background-color: @dropdown-link-color;
}
