table {
  max-width: 100%;
  width: 100%;
  background-color: @table-background;
  font-size: 95%;
  a {
    color: black;
  }
}

th {
  padding-right: 1em;
  font-family: @header-font-family;
  font-size: 90%;
  font-weight: bold;
  color: @table-th-color;
  background-color: @table-th-background;
}

tr:nth-child(even) {
  background-color: @table-odd-background; }
tr:nth-child(odd) {
  background-color: @table-even-background; }

td {
  padding-right: 1em;
}

.accent {
  padding-right: 1em;
  font-weight: bold;
  color: @header-color;
  text-align: right;
}

.debug {
  color: #000014 !important; }
.info {
  color: #00cc00 !important; }
.notice {
  color: #cc6600 !important; }
.warning {
  color: #cc3300 !important; }
.error, .err {
  color: #660000 !important; }
.alert {
  color: #990000 !important; }
.critical, .crit {
  color: #cc0000 !important; }
.emergency {
  color: red !important; }

.w10 {
  width: 10em
}
