// blue pine color theme
//@primary-color: #124e8c;
// the larch color theme
//@primary-color: #3d774f;
// the red snake color theme
//@primary-color: #b00e4f;
// Dark moderate blue
@primary-color: #477296;


// navigation bar e3f1f4
@bar-color:      lighten(@primary-color, 56%);
@bar-background: saturate(darken(@primary-color, 8%), -15%);

@header-color:      @primary-color;
@header-background: transparent;

@footer-color:      #c1c4c7;
@footer-background: transparent;

@header-font-family: sans-serif;
@footer-font-family: sans-serif;
@p-font-family:      serif;

@text-color:    black;
@base-font-size:   14px;
@base-line-height: 20px;
@base-border-color: darken(@primary-color, 25%); 

@border-color: @base-border-color;
@hovered-border-color: @base-border-color;
@hovered-background-color: transparent;
@hovered-text-color: @text-color;


// Links
@link-color:       @primary-color;
@link-hover-color: darken(@link-color, 15%);

// Forms
@input-border-color: #BDABB2; // lighten(saturate(@primary-color, -50%), 10%);

// Buttons
@button-background-color: #F5F5F5;
@button-background-color-danger: #CC4036;
@button-background-color-success: #5BB75B;
@button-background-color-warning: orange;
@button-background-color-info: #4D90FE;

@button-border-color: #BBBBBB #BBBBBB #A2A2A2;

// Menu
@menu-background-color: transparent;
@popup-border-color: grey;

// Dropdowns

@dropdown-background-color: white;
@dropdown-link-color: @link-color;
@dropdown-link-color-hover: white;
@dropdown-border: @primary-color;

// Tables
@table-background:      transparent;
@table-th-color:        @header-color;
@table-th-background:   lighten(saturate(@header-color, 20%), 45%);
@table-odd-background:  lighten(@table-th-background, 5%);
@table-even-background: @table-background;


// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
