extends layout

block content
  #content.about
    h2 Clearcut -  a log viewer.

    p Clearcut is a web application to view syslog-ng messages stored in mongoDB.

    p Application is written in JavaScript, using express, jade, less and mongoose ODM and Dojo toolkit.

    dl
      dt syslog-ng
      dd Syslog server and logging daemon
      dd http://www.balabit.com/downloads/files/syslog-ng/open-source-edition
      dd '>= 3.3'

      dt mongoDB
      dd NoSQL database
      dd http://www.mongodb.org/
      dd '>= 2.2.0'

      dt node.js
      dd Event-driven I/O server-side JavaScript engine
      dd http://nodejs.org/
      dd'>= 0.9.0'

      dt express
      dd node.js web application framework
      dd http://expressjs.com/
      dd '>= 3.0.3'

      dt jade
      dd high performance template engine
      dd https://github.com/visionmedia/jade
      dd '>= 0.27.7'

      dt less
      dd The dynamic stylesheet language
      dd http://lesscss.org/
      dd '>= 1.3.1'

      dt less-middleware
      dd less.js compiling middleware
      dd https://github.com/emberfeather/less.js-middleware
      dd '>= 0.1.8'

      dt mongoose
      dd MongoDB object modeling for Node.js
      dd http://mongoosejs.com/
      dd '>= 3.4.0'

      dt Dojo
      dd JavaScript toolkit
      dd http://dojotoolkit.org/
      dd '>= 1.8.1'
