extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/userform", "dojo/domReady!"], function(userform) {
      userform.init();
    });

block content
  #content.user-form.form
    .account-box.fieldset
      form(method="post", id="account-into", action="/account")
        h2 Account Information
        .pull-right
          button.btn.edit-btn(type="button", id="edit-btn", userid=account._id)
            i.icon-pencil
          button.btn.btn-success.submit-btn.hide(type="submit", id="submit-btn", value="Save")
            i.icon-save
        .field
          label(for="accountname") Login:
          input(type="text", size="32", id="username", name="username", value=account.username, readonly=readonly)
        .field
          label(for="fname") First name:
          input(type="text", size="32", id="fname", name="fname", value=account.fname, readonly=readonly)
        .field
          label(for="lname") Last name:
          input(type="text", size="32", id="lname", name="lname", value=account.lname, readonly=readonly)
        .field
          label(for="email") E-mail:
          input(type="text", size="32", id="email", name="email", value=account.email, readonly=readonly)

    .passwd-box.fieldset
      h2 Password
      .pull-right
        a.btn(href="/changePassword") Change Password
      .field
        .label Last login:
        span= account.lastlog
        if !account.password.hash
          .label The password is not set.
        if account.password.changed
          .label Password was changed on:
          span= account.password.changed
