extends layout

block scripts
  script(src="/js/jquery.min.js")
  script(src="/js/highcharts.js")
  script(type='text/javascript').
    $(function () {
      $('#dailychart').highcharts({
        chart: {
          type: 'line'
        },
        title: {
          text: 'Messages Daily'
        },
        xAxis: {
          type: 'datetime'
        },
        series: !{JSON.stringify(series)}
      })
    })

block content

  #dailychart(style="width:100%;, height:400px;")
