extends layout

block content
  #content.passwd-form
    .passwd-box
      h1 Change Password
      form(method="post", action="/changePassword")
        .field
          label(for="current") Current Password:
          input(type="password", size="32", id="currentPassword", name="currentPassword")
          if invalidPassword
            p.err The password you entered is incorrect.
        .field
          label(for="password") New Password:
          input(type="password", size="32", id="newPassword", name="newPassword")
          if invalidNewPassword
            p.err Enter new password.
        .field
          label(for="confirm") Confirm New Password:
          input(type="password", size="32", id="confirmPassword", name="confirmPassword")
          if invalid
            p.err= invalid
        button.btn.btn-info(type="submit", value="Submit")
          span Change Password
