extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/messages", "dojo/domReady!"], function(messages) {
      messages.init()
    })

block content
  #content.logs
    .paginate
      .turn.btn-group
        a.btn(href="?page=1")
          i.icon-chevron-up
        a.btn(href="?page=#{prevpage}")
          i.icon-chevron-left
        a.btn(href="?page=#{nextpage}")
          i.icon-chevron-right
        a.btn(href="?page=0")
          i.icon-chevron-down
      .pageof #{page} of #{pages}
      if session.query && session.query.ts && session.query.ts['$gte']
        button.btn.start-btn(type="button")
          span= new Date(session.query.ts['$gte'] * 1000).toFormatString()
        span -
      if session.query && session.query.ts && session.query.ts['$lt']
        span -
        button.btn.end-btn(type="button")
          span= new Date(session.query.ts['$lt'] * 1000).toFormatString()
      button.btn.range-btn(type="button")
        i.icon-range
      #range-btn.range.btn-group.hide
        a.btn.1h-btn(href="?range=1h") 1h
        a.btn.12h-btn(href="?range=12h") 12h
        a.btn.1d-btn(href="?range=1d") 1d
        a.btn.3d-btn(href="?range=3d") 3d
        a.btn.1w-btn(href="?range=1w") 1w
        a.btn.all-btn(href="?start=&end=&range=") All
      button.btn.filter-btn(type="button")
        i.icon-filter
      button.btn.reset-btn.hide(type="reset", id="reset-btn")
        i.icon-undo
      button.btn.clear-btn.hide(type="reset", id="clear-btn")
        i.icon-eraser
      button.btn.play-btn.hide(type="submit", id="play-btn")
        i.icon-play
      .count Found: #{count}
      button.btn.url-btn.hide(type="button", id="url-btn")
        i.icon-link
      button.btn.save-btn.hide(type="button", id="save-btn")
        i.icon-save


    form(method="post", id="filter-form", action="/")
      table(id="log_table")
        thead
          tr#filter.filter-form.hide
            td
            td
              input(type="text", id="date", name='date', value="#{query.date}")
            td
              input(type="text", id="host", name='host', value="#{query.host}")
            td
              input(type="text", id="facility", name='facility', value="#{query.facility}")
            td
              input(type="text", id="priority", name='priority', value="#{query.priority}")
            td
              input(type="text", id="program", name='program', value="#{query.program}")
            td
              input(type="text", id="message", name='message', value="#{query.message}")
          tr
            th(id="th_id") Id
            th(id="th_date") Date
            th(id="th_host") Host
            th(id="th_facility") Facility
            th(id="th_priority") Priority
            th(id="th_program") Program
            th(id="th_message") Message
        tbody

          - messages.reverse().forEach(function(m){
            tr
              td.nowrap
                a(href="/id/#{m._id}") &nbsp;
                  i.icon-bullseye
              td.nowrap
                a(href="?date=#{m.DATE}")= m.DATE
              td.nowrap
                a(href="?host=#{m.HOST}")= m.HOST
              td
                a(href="?facility=#{m.FACILITY}")= m.FACILITY
              td(class="#{m.PRIORITY}")
                a(href="?priority=#{m.PRIORITY}")= m.PRIORITY
              td
                a(href="?program=#{m.PROGRAM}")= m.PROGRAM
              td(class="message", id="#{m._id}")
                a(href="?message=#{m.MESSAGE}")= m.MESSAGE
          - });
