doctype html
html
  head
    title= title
    link(href='/img/bluepine.png', rel='shortcut icon')
    link(href='/css/clearcut.css', rel='stylesheet', type='text/css')
    link(href='/css/font-clearcut.css', rel='stylesheet', type='text/css')
    link(href='/css/print.css', rel='stylesheet', type='text/css', media='print')
    script(type='text/javascript').
      var dojoConfig = {
        async: true,
        parseOnLoad: false,
        baseUrl: "/js/",
        packages: [
          { name: "dojo",   location: "dojo" },
          { name: "clearcut", location: "clearcut" }
        ]
      };
    script(src='/js/dojo/dojo.js', type='text/javascript')
    script(type='text/javascript').
      require(["clearcut/menu", "clearcut/alert", "dojo/domReady!"], function(menu, alert) {
        menu.init();
      });

    block scripts

  body
    #container
      #header
        .bar
          ul.menu
            li.title
              a(href='/about')= title
            if user
              li.dropdown
                a messages
                ul.dropdown-menu
                  li
                    a(href='/all')
                      span all
                  li
                    a(href='/today')
                      span today
                  li
                    a(href='/yesterday')
                      span yesterday
                  if locals.user
                    li
                      a(href='/?owner=#{user.username}')
                        span mine
                  li
                    a(href='/critical')
                      span critical
                  li
                    a(href='/failedauth')
                      span failed auth
              li.dropdown
                a servers
                ul.dropdown-menu
                  li
                    a(href='/server')
                      i.icon-table
                      span grid
                  li
                    a(href='/servers/supported')
                      i.icon-list
                      span supported
                  li
                    a(href='/servers/owners')
                      i.icon-group
                      span owners
                  li
                    a(href='/servers/groups')
                      i.icon-group
                      span groups
                  li
                    a(href='/server/new')
                      i.icon-edit
                      span new
              li.dropdown
                a analytics
                ul.dropdown-menu
                  li
                    a(href='/analytics/daily')
                      span messages daily
                  li
                    a(href='/analytics/daily/priority')
                      span by priority
              if user.admin
                li
                  a(href='/user') users
            else
              li
                a(href='/login/') login

          if user
            ul.menu.pull-right
              li.dropdown
                a
                  i.icon-cog
                  span= user.username
                ul.dropdown-menu
                  li
                    a(href='/account')
                      span account
                  li
                    a(href='/logout')
                      span logout

      #alert(class=info ? "" : "hide")
        #msg= info
        #close-btn.close-btn
          i.icon-remove

      block content
      #footer
        p
          | #{title} #{version} Copyleft&nbsp;
          span.copyleft &copy
          | &nbsp; 2012-2013 &nbsp;
          a(href="mailto:vadim.kuznetsov@gmail.com") Vadim Kuznetsov
          | &nbsp;All Wrongs Reserved.
