extends layout

block content
  #content.login-form
    .singin-box
      h1 Sign In
      form(method="post", action="/login")
        .field
          label(for="username") Username:
          input(type="text", size="32", id="username", name="username")
          if invalidUsername
            p.err Enter your username
        .field
          label(for="fname") Password:
          input(type="password", size="32", id="password", name="password")
          if invalidPassword
            p.err Enter your password
          if invalid
            p.err= invalid
        button.btn.btn-info(type="submit", value="Submit")
          i.icon-pencil
          span Sign in
