extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/tablefilter", "dojo/domReady!"], function(tablefilter) {
      tablefilter.init()
    })

block content
  #content.records-table
      .table-filter-form
        label(for="table-filter")
          i.icon-filter
        input(type="text", id="table-filter", class="table-filter", data-table="table1", autofocus)
      table(id="records", class="table1", sortby="#{sortby}")
        tbody
          - records.forEach(function(r){
            tr(class="row")
              td.nowrap= r.created.toFormatString()
              td.nowrap
                a(href="/server/#{r.hostname}")= r.hostname
              td.nowrap= r.type
              td
                pre= new Buffer(r.body, 'base64').toString()
          - });
