extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/serverform", "dojo/domReady!"], function(serverform) {
      serverform.init();
    });

block content
  #content.server-form.form
    h1= server_data.hostname
    form(method="post", action="/server/#{server_data._id}")
      fieldset
        h2 Network
        input(type="hidden", name="_id", value=server_data._id)
        .field
          label(for="hostname") Hostname:
          input(type="text", size="32", id="hostname", name="hostname", value=server_data.hostname)
        .field
          label(for="fqdn") FQDN:
          input(type="text", size="32", id="fqdn", name="fqdn", value=server_data.fqdn)
        .field
          label(for="ip") IP Address:
          input(type="text", size="32", id="ips", name="ips", value=server_data.ips.join(', '))
        .field
          label(for="networkZone") Network Zone:
          input(list="nzs", type="text", size="32", id="networkZone", name="networkZone", value=server_data.networkZone)
          datalist(id="nzs")
            option(value="intranet")
            option(value="dmz")
      fieldset
        h2 Server Info
        .field
          label(for="os") OS:
          input(type="text", size="32", id="os", name="os", value=server_data.os)
        .field
          label(for="arch") Arch:
          input(type="text", size="32", id="arch", name="arch", value=server_data.arch)
        .field
          label(for="desc") Description:
          textarea(rows="4", cols="48", id="desc", name="desc")= server_data.desc
        .field
          label(for="owner") Owners:
          input(type="text", size="32", id="owners", name="owners", value=server_data.owners.join(', '))
        .field
          label(for="") Groups:
          input(type="text", size="32", id="groups", name="groups", value=server_data.groups.join(', '))
      fieldset
        h2 Server Environment
        .field
          label(for="class") Class:
          input(type="number", min="1", max="3", size="32", id="class", name="class", value=server_data.class)
        .field
          label(for="envType") Env Type:
          input(list="envtypes", type="text", size="32", id="envType", name="envType", value=server_data.envType)
          datalist(id="envtypes")
            option(value="testing")
            option(value="development")
            option(value="staging")
            option(value="production")
        .field
          label(for="status") Status:
          input(list="status_options", type="text", size="32", id="status", name="status", value=server_data.status)
          datalist(id="status_options")
            option(value="active")
            option(value="unsupported")
      fieldset
        h2 Location
        .field
          label(for="loc") Location:
          input(type="text", size="32", id="loc", name="loc", value=server_data.loc)

      fieldset
        button.btn.btn-success(type="submit", value="Save")
          i.icon-ok &nbsp; Save
        span &nbsp;
        if server_data._id
          a.btn.btn-danger(href="/server/#{server_data._id}", id="decommission", serverid="#{server_data._id}")
            i.icon-trash &nbsp; Delete
