extends layout

block content
  #content.servers-list
    h2 Groups: #{groups.length}
    - groups.forEach(function(grp){
      h3.clear
        a(href="/?group=#{grp.name}")= grp.name
        span : #{grp.hosts.length}
      - grp.hosts.sort().forEach(function(h){
        .host(id="#{h}")
          a(href="/?host=#{h}")= h
      - });
      .clear
    - });
