extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/servers", "clearcut/tablefilter", "dojo/domReady!"], function(clearcut, tablefilter) {
      clearcut.init()
      tablefilter.init()
    })

block content
  #content.server-table
      .table-filter-form
        label(for="table-filter")
          i.icon-filter
        input(type="text", id="table-filter", class="table-filter", data-table="table1", autofocus)
      table(id="servers", class="table1", sortby="#{sortby}")
        thead
          tr
            th(id="hostname") Hostname
            th(id="fqdn") FQDN
            th.w10(id="ips") IP Addresses
            th(id="os") OS
            th(id="arch") Arch
            th(id="desc") Description
            th(id="envType") Env Type
            th(id="networkZone") Network Zone
            th(id="owners") Owners
            th(id="groups") Groups
            th(id="class") Class
            th(id="loc") Location
        tbody
          - servers.forEach(function(s){
            tr(class="row")
              td
                a(href="/server/#{s.hostname}")= s.hostname
              td= s.fqdn
              td= s.ips.join(', ')
              td= s.os
              td= s.arch
              td= s.desc
              td= s.envType
              td= s.networkZone
              td= s.owners.join(', ')
              td= s.groups.join(', ')
              td= s.class
              td= s.loc
          - });
