extends layout

block content
  #content.servers-list
    h2 Owners: #{owners.length}
    - owners.forEach(function(o){
      h3.clear
        a(href="/?owner=#{o.owner}")= o.owner
        span : #{o.hosts.length}
      - o.hosts.sort().forEach(function(h){
        .host(id="#{h}")
          a(href="/?host=#{h}")= h
      - });
      .clear
    - });
