extends layout

block content
  #content.servers-list
    h2 Supported servers: #{seen.length}
    - seen.forEach(function(h){
      .host(id="#{h}")
        a(href="/?host=#{h}")= h
    - });
    .clear
    if recent.length > 0
      h3.clear Recently connected servers: #{recent.length}
      - recent.forEach(function(h){
        .host.recent(id="#{h}")
          a(href="/server/#{h}")= h
      - })
    .clear
    if lost.length > 0
      h2.clear Not supported: #{lost.length}
      - lost.forEach(function(h){
        .host.lost(id="#{h}")
          a(href="/server/#{h}")= h
      - })
