extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/userform", "dojo/domReady!"], function(userform) {
      userform.init();
    });

block content
  #content.user-form.form
    form(method="post", action="/user/#{account._id}")
      .account-box.fieldset
        h2 Account Information
        input(type="hidden", name="id", value=account._id)
        .field
          label(for="accountname") Login:
          input(type="text", size="32", id="username", name="username", value=account.username)
        .field
          label(for="fname") First name:
          input(type="text", size="32", id="fname", name="fname", value=account.fname)
        .field
          label(for="lname") Last name:
          input(type="text", size="32", id="lname", name="lname", value=account.lname)
        .field
          label(for="email") E-mail:
          input(type="text", size="32", id="email", name="email", value=account.email)
        if user.admin && user._id.toString() !== account._id.toString()
          .field
            label(for="admin") Admin:
            input(type="checkbox", name="admin", checked=account.admin, value="true")
          .field
            label(for="locked") Locked:
            input(type="checkbox", name="locked", checked=account.locked, value="true")
        else
          input(type="hidden", name="admin", value=account.admin)
          input(type="hidden", name="locked", value=account.locked)

      .filedset
        button.btn.btn-success(type="submit", value="Save")
          i.icon-ok &nbsp; Save
        span &nbsp;
        a.btn.btn-danger.xhrdel(href="/user/#{account._id}", userid=account._id)
          i.icon-trash &nbsp; Delete
