extends layout

block scripts
  script(type='text/javascript').
    require([ "clearcut/userform", "clearcut/tablefilter", "dojo/domReady!"], function(userform, tablefilter) {
      userform.init()
      tablefilter.init()
    })

block content
  #content.users.table
    .table-filter-form
      label(for="table-filter")
        i.icon-filter
      input(type="text", id="table-filter", class="table-filter", data-table="table1", autofocus)
    table(id="users", class="table1", sortby="#{sortby}")
      thead
        tr
          th(id="username") Login
          th(id="fname") First name
          th(id="lname") Last name
          th(id="email") E-mail
          th(id="lastlog") Last login
          th(id="created") Created
          th(id="admin") Admin
          th(id="locked") Locked
          th(id="edit") Edit
          th(id="delete") Delete
      tbody
        - users.forEach(function(u){
          tr(class="row")
            td= u.username
            td= u.fname
            td= u.lname
            td= u.email
            td= u.lastlog
            td= u.created
            td
              if u.admin
                i.icon-check
              else
                i.icon-check-empty
            td
              if u.locked
                i.icon-lock
              else
                i.icon-unlock-alt
            td
              a(href="/user/#{u._id}")
                i.icon-edit
            td
              a.xhrdel(href="/user/#{u._id}", userid="#{u._id}")
                i.icon-trash
        - });
